{% extends 'flowwow/layout.html' %}
{% load static %}
{% block title %}Статья - Flowwow{% endblock %}
{% block content %}
    <main>
        <section class="article-page">
            {% if article %}
            <div class="container">
                <div class="article-page__image" style="background-image: url('{% if article.image %}{{ article.image.url }}{% else %}/static/flowwow/img/article-default.jpg{% endif %}')"></div>
                <div class="article-page__meta">
                    {% if article.date %}<span><i class="far fa-calendar-alt"></i> {{ article.date|date:"d.m.Y" }}</span>{% endif %}
                    {% if article.category %}<span><i class="far fa-folder"></i> {{ article.category }}</span>{% endif %}
                    <span><i class="far fa-eye"></i> {{ article.views }}</span>
                </div>
                <h1 class="article-page__title">{{ article.title }}</h1>
                <div class="article-page__content">
                    <p>{{ article.desc }}</p>
                    {{ article.text|safe }}
                </div>
            </div>
            {% else %}
            <div class="container">
                <p>Статья не найдена</p>
            </div>
            {% endif %}
        </section>
    </main>

    {% block scripts %}
    <script src="{% static 'flowwow/js/article.js' %}"></script>
    {% endblock %}
{% endblock %}